* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

h1 {
    color: pink;
    background-color: black;
    font-size: 60px;
}

li {
    font-size: 30px;
    font-weight: 800;
}

h4 {
    font-size: 40px;
}
p {
    font-size: 35px;
    font-style: italic;
    color: brown;
}